* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(148, 190, 147);
}

.app {
  background: rgb(148, 190, 147);
  border: 6px solid black;
  border-radius: 10px;
  height: 100%;
}

.title {
  text-align: center;
  padding: 2rem;
  text-decoration: underline;
  font-size: 3rem;
  color: black;
}
